@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Kalam&display=swap');

.corpo {
    background-image: url(PNG/hero-bg-orange.png);
    min-width: min-content;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecalho {
    background-color: #FA990A;
    height: 87px;
}

.container-topo {
    height: 87px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 75px;
}

.esquerda-topo {
    display: flex;
    align-items: center;
    gap: 0px 20px;
    transition: all 450ms;
}

.esquerda-topo:hover {
    transform: scale(1.05);
}

.logo {
    width: 61px;
}

.name-logo {
    width: 200px;
}

.item {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding: 8px;
    margin-left: 50px;
    color: black;
    transition: all 450ms;
}

#inicio {
    color: #0367ad;
}

.item:hover {
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    color: #FA990A;
}

.main1 {
    height: 100vh;
    width: auto;
}

.container-main1 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.bemvindo {
    position: relative;
    left: 100px;
}

.caretech {
    position: relative;
    right: 100px;
    top: 45px;
}

.bemvindop {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 54px;
    width: 325px;
    color: #0367AD;
}

.caretechp {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 81px;
    width: 419px;
    color: #0367AD;
}

.main2 {
    border-top: 1px solid black;
    height: 100vh;
}